.SmallButton,
.Button {
  margin: 20px 10px 20px 0;
  border-radius: .5ex;
  background: #3fbcf3;
  background: linear-gradient(top, #aee7fe, #3fbcf3);
  border: 1px solid #0F7FE6;
  color: #003673;
  cursor: pointer;
  font-size: 12px;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #B7F5FD;
  font-weight: normal;
  display: inline-block;
}


.Aside {
    border: 1px solid #cc8;
    border-width: 1px 0 1px 1px;
    background: #ffc;
    z-index: 200;
    position: relative;
    margin: 15px 0;
    font-size: 12px;
    padding: 15px;
}

h2{
  margin-top: 0;
}

table{
  width: 100%;
  margin-bottom: 30px;
}
table thead th
{
  background: #dbf3fc;
  font-size: 13px;
  color: #222;
  text-shadow: 0 1px 0 #fff;
  font-weight: bold;
border-bottom: 1px solid #a5d0e7;
    padding: 6px 6px 6px 20px;
    vertical-align: top;
}

table tbody td
{
  padding: 5px 0;
  border-bottom: 1px solid #e0e0e0;
}
table tbody td:first-child{
  padding-right: 30px;
  width: 60%; 
}
table#apiConnection tbody td:first-child{
  padding-right: 30px;
  width: 40%; 
}

table tbody tr:last-child td
{
  border-bottom: 0px;
}

table td span
{
 display: block;
}


form .js-modal-footer.form-footer{
  display: block;
  text-align: center;
}
.btn{
    margin-top: 15px;
    border-radius: .5ex;
    background: #3fbcf3;
    background: linear-gradient(top, #aee7fe, #3fbcf3);
    border: 1px solid #0F7FE6;
    color: #003673;
    cursor: pointer;
    font-size: 12px;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #B7F5FD;
    font-weight: normal;
    display: inline-block;
}

form .js-modal-footer.form-footer {
  display: block;
  text-align: center;
}
form .js-modal-footer.form-footer #Form_Save{
    padding: 10px 50px;
    font-size: 16px;
}

label[id^=iCheck]{
  display: block;
}

#oneall_sociallogin input.oa_social_login_api_key {
	width: 400px;
}

#oneall_sociallogin input.oa_social_login_api_secret {
	width: 400px;
}

#oneall_sociallogin .working_message {
  color: blue;
  background: url("images/status_loading.gif") no-repeat scroll 0 50% transparent;
  padding-left: 25px;
  margin-left: 10px;
  font-weight: bold;
}

#oneall_sociallogin .error_message {
  color: red;
  background: url("images/status_error.png") no-repeat scroll 0 50% transparent;
  padding-left: 25px;
  margin-left: 10px;
  font-weight: bold;
}

#oneall_sociallogin .error_message a {
  color: red;
  font-weight: bold;
}

#oneall_sociallogin .error_message a:hover {
  color: #C70000;
}

#oneall_sociallogin .success_message {
  color: green;
  background: url("images/status_ok.png") no-repeat scroll 0 50% transparent;
  padding-left: 25px;
  margin-left: 10px;
  font-weight: bold;
}
#oneall_sociallogin .working_message {
  color: blue;
  background: url("images/status_loading.gif") no-repeat scroll 0 50% transparent;
  padding-left: 25px;
  margin-left: 10px;
  font-weight: bold;
}

#oneall_sociallogin .RadioLabel {
	display: block;
}

#oneall_sociallogin label.oa_social_login_provider {
  border: 0 none;
  line-height: 35px;
  margin-top: 8px;
  display:block;
}

#oneall_sociallogin label.oa_social_login_provider * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
   display:inline-block;
  margin-left:5px;
  margin-right:5px;
}

#oneall_sociallogin label.oa_social_login_provider > span {
  background-image: url("images/sprite_35_35.png");
  text-indent: -9999px;
  height: 35px;
  width: 35px;
  display: inline-block;
  float: left;
  cursor: pointer;
  padding: 0;
}

#oneall_sociallogin label.oa_social_login_provider > input {
  border: 0 none;
  vertical-align: middle;
  margin: 0px 10px 0px 10px;
  float: none;
}

/* Buttons */
.oa_social_login_provider_vimeo {
  background-position: -2px -1px;
}

.oa_social_login_provider_blogger {
  background-position: -39px -1px;
}

.oa_social_login_provider_facebook {
  background-position: -76px -1px;
}

.oa_social_login_provider_foursquare {
  background-position: -113px -1px;
}

.oa_social_login_provider_google {
  background-position: -150px -1px;
}

.oa_social_login_provider_reddit {
  background-position: -187px -1px;
}

.oa_social_login_provider_linkedin {
  background-position: -224px -1px;
}

.oa_social_login_provider_windowslive {
  background-position: -261px -1px;
}

.oa_social_login_provider_livejournal {
  background-position: -298px -1px;
}

.oa_social_login_provider_myspace {
  background-position: -372px -1px;
}

.oa_social_login_provider_openid {
  background-position: -409px -1px;
}

.oa_social_login_provider_draugiem {
  background-position: -446px -1px;
}

.oa_social_login_provider_twitter {
  background-position: -520px -1px;
}

.oa_social_login_provider_vkontakte {
  background-position: -631px -1px;
}

.oa_social_login_provider_wordpress {
  background-position: -668px -1px;
}

.oa_social_login_provider_yahoo {
  background-position: -705px -1px;
}

.oa_social_login_provider_paypal {
  background-position: -742px -1px;
}

.oa_social_login_provider_stackexchange {
  background-position: -779px -1px;
}

.oa_social_login_provider_steam {
  background-position: -816px -1px;
}

.oa_social_login_provider_mailru {
  background-position: -853px -1px;
}

.oa_social_login_provider_skyrock {
  background-position: -890px -1px;
}

.oa_social_login_provider_github {
  background-position: -927px -1px;
}

.oa_social_login_provider_disqus {
  background-position: -964px -1px;
}

.oa_social_login_provider_youtube {
  background-position: -1001px -1px;
}

.oa_social_login_provider_odnoklassniki {
  background-position: -1038px -1px;
}

.oa_social_login_provider_deviantart {
  background-position: -1075px -1px;
}

.oa_social_login_provider_twitch {
  background-position: -1112px -1px;
}

.oa_social_login_provider_amazon {
  background-position: -1149px -1px;
}

.oa_social_login_provider_instagram {
  background-position: -1186px -1px;
}

.oa_social_login_provider_battlenet {
  background-position: -1223px -1px;
}

.oa_social_login_provider_dribbble {
  background-position: -1260px -1px;
}

.oa_social_login_provider_pinterest {
  background-position: -1297px -1px;
}

.oa_social_login_provider_pixelpin {
  background-position: -1334px -1px;
}

.oa_social_login_provider_storage {
  background-position: -1371px -1px;
}

.oa_social_login_provider_meetup {
  background-position: -1408px -1px;
}

.oa_social_login_provider_xing {
    background-position: -372px -1px;
}

.oa_social_login_provider_line {
  background-position: -1445px -1px;
}

.oa_social_login_provider_soundcloud {
  background-position: -1482px -1px;
}

.oa_social_login_provider_discord {
  background-position: -1519px -1px;
}

.oa_social_login_provider_weibo {
  background-position: -1556px -1px;
}

.oa_social_login_provider_tumblr {
  background-position: -1593px -1px;
}

.oa_social_login_provider_mixer {
    background-position: -1667px -1px;
}

.oa_social_login_provider_google {
    background-position: -1704px -1px;
}

.oa_social_login_provider_patreon {
    background-position: -1630px -1px;
}